<div>
  <div *ngIf="error">
    <mat-card>
      <h3 matLine> Error happened </h3>
      <button (click)="fetchShirt()" mat-raised-button> Retry </button>
    </mat-card>
  </div>
  <div *ngIf="loading">
    loading
  </div>
  <div *ngIf="!(loading || error)">
    <mat-list>
      <mat-list-item class="ast-shirt">
        <img matListAvatar src="{{ details.picture }}" alt="..." />
        <h3 matLine> {{ details.name }} </h3>
        <p matLine>
          Colour:  {{ details.colour }}
        </p>
        <p matLine>
          Size: {{ details.size }}
        </p>
        <p matLine>
          Price: {{ details.price }}
        </p>
        <p matLine>
          <button (click)="addToCart()" mat-raised-button>
            <p *ngIf="cartState.number === 0"> Add to cart </p>
            <p *ngIf="cartState.number > 0"> Add one more</p>
          </button>
        </p>
        <p matLine>
          <button (click)="navigateToList()" mat-raised-button>
            Back to List
          </button>
        </p>
        <p matLine>
          <button (click)="navigateToCart()" mat-raised-button>
            Shopping chart
          </button>
        </p>
      </mat-list-item>
    </mat-list>
  </div>

</div>
