<div>
  <div *ngIf="error">
    <mat-card>
      <h3 matLine> Error happened </h3>
      <button (click)="fetchShirts()" mat-raised-button> Retry </button>
    </mat-card>
  </div>
  <div *ngIf="loading">
    loading
  </div>
  <div *ngIf="!(loading || error)">
    <div>
      <button (click)="navigateToCart()" mat-raised-button> Cart </button>

    </div>
    <mat-card>
      <h3> List of shirts </h3>
      <mat-select [(value)]="sizeFilter" placeholder="Filter by sizes">
        <mat-option *ngFor="let size of availableSizes" [value]="size">
          {{size}}
        </mat-option>
      </mat-select>
      <mat-select [(value)]="colorFilter" placeholder="Filter by color">
        <mat-option *ngFor="let color of availableColors" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>

      <mat-list>
        <mat-list-item class="ast-shirt" *ngFor="let shirt of (shirts | filterShirts: sizeFilter: colorFilter)" (click)="navigateTo(shirt.id)">
          <img matListAvatar src="{{ shirt.picture }}" alt="...">
          <h3 matLine> {{ shirt.name }} </h3>
          <p matLine>
            Colour:  {{ shirt.colour }}
          </p>
          <p matLine>
            Size: {{ shirt.size }}
          </p>
          <p matLine>
            Price: {{ shirt.price }}
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card>

  </div>

</div>
